figcaption {color:white;
           width: 120px;
           }
img {
	box-shadow: 7px 8px 9px; 
	width:300px;
}

body {background-color: cyan; }   

.about {float: left; margin-left: -40px; }



figure {
	float: left;
}

footer {
	clear: both;
}
p {font-size: 2em;}