body {
	background-color: #fff;
	font-family: 'Droid Sans', sans-serif;
}

#first-div {
	width: 80%;
	margin: 0 auto;
}

#main-header {
	width: 35%;
	margin: 0 auto;
	float: left;
}

#our-services {
	margin: 70px 0 0 160px;
}

#first-p {
	margin-right: 100px;
}

#main-text {
	width: 45%;
	margin: 0 auto;
	float: right;
}

#main-div {
	width: 80%;
	margin: 0 auto;
}

#top-left {
	width: 40%;
	margin: 0 auto;
	float: left;
}

#top-right {
	width: 40%;
	margin: 0 auto;
	float: right;
}

.break {
	clear: both;
}

#btm-left {
	width: 40%;
	margin: 0 auto;
	float: left;
}

#btm-right {
	width: 40%;
	margin: 0 auto;
	float: right;

	nav {
	height:200px;
	width: 100%;
}
#logo {
	display: inline-block;
	background-color: black;
	border-radius: 50%;
	border: 1px solid black;
	color: white;
	height: 75px;
	width: 75px;
}

#logo p {
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 1em;
}

.nav_bar {
	list-style: none;
	float: right;
	margin-top: 5em;	
}

.nav_bar li {
	display: inline-block;
}

.nav_bar li a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 1em;
	margin-right: 1em;
	margin-left: 1em;
}



/*---------FOOTER----------------*/

footer {
	color: white;
	background-color: black;
	height: 200px;
	width: 100%;
}

.social_nav {
	list-style: none;
	display: inline-block;
	margin-left: 3em;
	margin-right: 3em;
	float: left;
}
.social_nav li {

	margin-top: 2em; 
	height: 30px;
	width: 30px;
	display: inline-block;
}

.social_nav li a {
	padding: 1em;
	color: white;
	font-size: 20px;
}

.contact {
	display: inline-block;
	list-style: none;
	margin-top: 2em;
	margin-left: 3em;
	margin-right: 3em;
	width: 100px;
	height: 100px;
}

.start-button {
	color: white;
	font-size: 25px;
	text-decoration: none;
	border: 1px solid white;
	width: 155px;
	height: 40px;
	display: inline-block;
	margin: 1em 10em 1em 11em;
	padding: 0.5em;
}

footer p {
	width: 90%;
	text-align: center;
}