/***Artie's CSS***/

figcaption {
	color:white;
  width: 120px;
}
.ourteam {
	box-shadow: 7px 8px 9px; 
	width:300px;
}  

.about {
	float: left; 
	margin-left: -40px; }

figure {
	float: left;
}

.artie-p {
	font-size: 2em;}

#address {	
	height: 200px;
	width: 200px;
	margin: 0;
	padding: 100px;
	float: right;
	background-color: black;
	border: 1px solid #E59821;
}

#address p {
	width: 150px;
	display: block;
	color: #C8CCC1;
	font-size: 20px;
}

#contact-form {
	width: 500px;
	padding: 100px;
	display: block;
	position: absolute;
	margin-top: 600px;
	margin: 600px auto;
}


input { 
	width: 300px; 
	height: 20px;
}

textarea {
	width: 300px; 
	height: 100px;
}

#contact_info {
	background-image: url("/images/map.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	margin: 0;
	position: absolute;
}

#contact_contain {
	margin-bottom: 300px;
	height: 900px;
}

/***James' CSS***/

body {
	background-color: #fff;
	font-family: 'Droid Sans', sans-serif;
	color: #333333;
	margin: 0;
}

.spacer-div {
	padding-top: 140px;
	padding-bottom: 100px;
}

#first-div {
	width: 80%;
	margin: 0 auto;
}

#main-header {
	width: 35%;
	margin: 0 auto;
	float: left;
}

#our-services {
	margin: 70px 0 0 240px;
}

#first-p {
	margin-right: 100px;
}

.james-p {

}

#main-text {
	width: 45%;
	margin: 0 auto;
	float: right;
}

#main-div {
	width: 80%;
	margin: 0 auto;
}

#top-left {
	width: 40%;
	margin: 0 auto;
	float: left;
}

#top-right {
	width: 40%;
	margin: 0 auto;
	float: right;
}

.break {
	clear: both;
}

#btm-left {
	width: 40%;
	margin: 0 auto;
	float: left;
}

#btm-right {
	width: 40%;
	margin: 0 auto;
	float: right;
}

/***Laura's CSS***/

.portfolio {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 100px;
	margin-bottom: 75px;
}

.our_work {
	margin-bottom: 2em; 
}

.portfolio_imgs {
	width: 1200px;
	height: 1000px;
	margin-left: 100px;
	margin-bottom: 75px; 
	padding-bottom: 100px;
}

.our_work {
	width: 200px;
	text-align: center;
	color: #E59821;
	border-bottom: 1px solid #E59821;
	margin: 2em auto 2em auto;
}

#img1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj1.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_1 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;
}

#img2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj2.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_2 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;
}

#img3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj3.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_3 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;	
}

#img4 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj4.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_4 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;	
}

#img5 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj5.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_5 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;	
}

#img6 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj6.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_6 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;	
}

#img7 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj7.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_7 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;	
}

#img8 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj8.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_8 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;	
}


#img9 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/proj9.jpg");
	height: 350px;
	width: 350px;
	margin: 5px;
	padding: 0;
	display: block;
	float: left;
}

#hidden_text_9 {
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
	font-size: 25px;
	padding: 2em;
}

/***Ty's CSS***/
 
.ty p {
	font-size: 1.2em;
	padding-bottom: 6em;
	border-bottom: outset black;
	border-height: 50px;
	line-height: 20px;
}

.ty img{
	float: left;
	width: 300px;
	clear: both;
	margin-right: 20px; 
}

.ty h1{
	font-size: 2em;
}

/***Layout CSS***/

nav {
	background-color: white;
	height:100px;
	width: 100%;
	position: fixed;
	margin: 0;
	z-index: 40;
}

#logo {
	display: inline-block;
	background-color: black;
	border-radius: 50%;
	border: 1px solid black;
	color: white;
	height: 75px;
	width: 75px;
}

#logo p {
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 1em;
}

#logop {
	display: inline-block;
}

.nav_bar {
	list-style: none;
	float: right;
	margin-top: 3em;	
}

.nav_bar li {
	display: inline-block;
}

.nav_bar li a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 1em;
	margin-right: 1em;
	margin-left: 1em;
}

/*---------FOOTER----------------*/

footer {
	color: #C8CCC1;
	background-color: #31332d;
	height: 200px;
	width: 100%;
	padding: 0;
	clear: both;
}

.social_nav {
	list-style: none;
	display: inline-block;
	margin-left: 3em;
	margin-right: 3em;
	float: left;
}
.social_nav li {

	margin-top: 2em; 
	height: 30px;
	width: 30px;
	display: inline-block;
}

.social_nav li a {
	padding: 1em;
	color: #C8CCC1;
	font-size: 20px;
}

.copyright {
	margin: 0 auto;
}

.contact {
	display: inline-block;
	list-style: none;
	margin-top: 2em;
	margin-left: 3em;
	margin-right: 3em;
	width: 100px;
	height: 100px;
}

.start-button {
	color: black;
	background-color: #E59821;
	font-size: 25px;
	text-decoration: none;
	border-radius: 5%;
	width: 175px;
	height: 30px;
	display: inline-block;
	padding: 0.5em;
	margin-right: 90px;
}

footer p {
	width: 90%;
	text-align: center;
	clear: both;
	font-size: 14px;
	color: #C8CCC1;
}