
<body>
<h1><strong> Our Team</strong></h1>
<div class='about'>
<figure>

<img id="pic1" class ='ourteam' onmouseover="changeOne()" src="images/IMG_0539.jpg"  onmouseout="changeBack()" src="images/IMG_0122.jpg" >

<!-- <img class="ourteam" src="images/IMG_0122.jpg"> -->
<figcaption>Laura D</figcaption>
</figure>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitat</p>
</div>

<div class='about'>
<figure>
	<img id="pic2" class ="ourteam" onmouseover="changeTwo()" src="images/IMG_0835.jpg"  onmouseout="changeBack2()" src="images/IMG_0836.jpg">
	<figcaption>Artie Hummler</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
<div class='about'>
<figure>
<img id= "pic3" class="ourteam" onmouseover="changeThree()" src="images/IMG_0653.jpg"  onmouseout="changeBack3()" src="images/IMG_0655.jpg">
<figcaption>James Alexander</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco labor</p></div>
<div class='about'>
<figure>
<img id= "pic4"class="ourteam" onmouseover="changeFour()" src="images/IMG_0680.jpg"  onmouseout="changeBack4()" src="images/IMG_0679.jpg">
<figcaption>Ty Winston</figcaption>
</figure>
<p>lorem is nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
</body>
