<body>
<h1> Send us a messsage!</h1>
<form action="/email" method="POST">
<p>
<label for="name">Name</label><br>
<input type="text" name="name" required>
</p>
<label for="company">Company Name</label><br>
<input type="text" name="company"><br>
<p>
<label for="email">Email</label><br>
<input type="email" name ="email" required>
</p>
<label for="comment">Description</label><br>
<textarea type="text" name="commments" ></textarea><br>
<button>Submit</button>
</form>
</body>