<div class="wrapper" id="home-div">
	<div class="spacer-div"></div>

	<div id="first-div">
			<div id="main-header">
				<img src="images/home.jpg">
				<h1 id="our-services">Our Services</h1>
			</div>
			<div id="main-text">
				<p id="first-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			</div>
	</div>

	<div class="break"></div>

	<div id="main-div">
			<div id="top-left">
				<h2>Responsive Web Development</h2>
				<p class="james-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>	

				<div id="top-right">
				<h2>Marketing</h2>
				<p class="james-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>

			<div class="break"></div>

			<div id="btm-left">
				<h2>Search Engine Optimization</h2>
				<p class="james-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>

			<div id="btm-right">
				<h2>Professional Communication</h2>
				<p class="james-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>

			<div class="break"></div>

	</div>
</div>
<!-- ABout us -->
<div class="wrapper" id="our-team-div">
	<div id="main-div">
		<h1><strong> Our Team</strong></h1>
		<div class='about'>
			<figure>

				<img id="pic1" class ='ourteam' onmouseover="changeOne()" src="images/w2.jpg"  onmouseout="changeBack()" src="images/w2.jpg" >

			<!-- <img class="ourteam" src="images/IMG_0122.jpg"> -->
				<figcaption>Laura DeVere</figcaption>
			</figure>
			 <p class="artie-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitat</p>
		</div>

		<div class='about'>
			<figure>
				<img id="pic2" class ="ourteam" onmouseover="changeTwo()" src="images/m1.jpg"  onmouseout="changeBack2()" src="images/m1.jpg">
				<figcaption>Artie Hummler</figcaption>
			</figure>
				<p class="artie-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class='about'>
			<figure>
				<img id= "pic3" class="ourteam" onmouseover="changeThree()" src="images/m2.jpg"  onmouseout="changeBack3()" src="images/m2.jpg">
				<figcaption>James Alexander</figcaption>
			</figure>
				<p class="artie-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco labor</p>
		</div>

		<div class='about'>
			<figure>
				<img id= "pic4" class="ourteam" onmouseover="changeFour()" src="images/m3.jpg"  onmouseout="changeBack4()" src="images/m3.jpg">
				<figcaption>Ty Winston</figcaption>
			</figure>
				<p class="artie-p">lorem is nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
<div class="spacer-div"></div>
<!-- Portfolio -->
<div class="wrapper">
	<div class="portfolio" id="portfolio-div">
		<h1 class="our_work">Our Work</h1>
		<div class="portfolio_imgs">
			<div id="img1">
				<p id="hidden_text_1">Robinson and Williams</p>
			</div>
			<div id="img2">
				<p id="hidden_text_2">Two Guys Moving</p>
			</div>
			<div id="img3">
				<p id="hidden_text_3">WOW House Plans</p>
			</div>
			<div id="img4">
				<p id="hidden_text_4">Mosquito Mist Systems</p>
			</div>
			<div id="img5">
				<p id="hidden_text_5">Patricia Miramon</p>
			</div>
			<div id="img6">
				<p id="hidden_text_6">Rice&Kendig</p>
			</div>
			<div id="img7">
				<p id="hidden_text_7">Arthritis Clinic</p>
			</div>
			<div id="img8">
				<p id="hidden_text_8">Mason Salters</p>
			</div>
			<div id="img9">
				<p id="hidden_text_9">Sid Potts</p>
			</div>
		</div>
	</div>
</div>
<!-- contact -->
<div class="wrapper" id="contactus-div">
<div id="contact_contain">
		<div id="contact_info">
			<div id="address">
				<p>LAJ Consulting<p>
				<p>Financial District NYC</p>
				<p>212-123-456</p>	
			</div>	
		</div>
		<div id="contact-form">
				<h1> Contact US!</h1>
				<form action="/email" method="POST">
	<!-- 			<div class='contact'> -->
					<label for="name">Name</label><br>
					<input type="text" name="name" required><br>
		<!-- 		</div> -->
		<!-- 		<div class='contact'> -->
					<label for="company">Phone:</label><br>
					<input type="text" name="company"><br>
			<!-- 	</div>
				<div class='contact'> -->
					<label for="email">Email:</label><br>
					<input type="email" name ="email" required><br>
		<!-- 		</div>
				<div class='contact'> -->
					<label for="comment">Description:</label><br>
					<textarea type="text" name="commments" ></textarea><br>
			<!-- 	</div> -->
				<button>Submit</button>
			</form>
		</div>
	</div>
</div>	