 <!DOCTYPE html>
 <html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="laura.css">
	<link rel="stylesheet" type="text/css" href="artie.css">
	<link rel="stylesheet" type="text/css" href="ty.css">

	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="artie.js"></script>
	<script type="text/javascript" src="js/blog.js"></script>

	<meta charset = "UTF-8">
	<title><%= @title  %></title>
</head>
<body>
	<head>
		<nav>
			<div id="logo">
				<p>LAJ.</p>
			</div>
			<ul class="nav_bar">
				<li><a href='/'>Home</li></a>
				<li><a href='/ourteam'>Our Team</li></a>
				<li><a href='/portfolio'>Portfolio</li></a>
				<li><a href='/blog'>Blog</li></a>
				<li><a href='/contact'>Contact</li></a>
			</ul>
		</nav>
	</header>
	<%= yield %>
	<footer>
			<div class="foot_container">
			<ul class="social_nav">
	 				<li><a href="https://www.facebook.com"><i class="ion-social-facebook"></i></a>
		      </li>
		      <li><a href="http://www.twitter.com"><i class="ion-social-twitter"></i></a>
		      </li>
		      <li><a href="https://www.linkedin.com"><i class="ion-social-linkedin"></i></a>
		     	</li>
			</ul>	
			<a href="/contact"><p class ="start-button">Start a Project</p></a>
		<!-- 	<ul class="contact">
				<li>Name</li>
				<li>Address</li>
				<li>Number</li>
			</ul> -->	
			</div>
		<p>Copyright Laj 2015</p>
	</footer>
</body>
 </html>