 <!DOCTYPE html>
 <html>
<head>
	<link rel="stylesheet" type="text/css" href="artie.css">
	<meta charset = "UTF-8">
	<title><%= @title  %></title>
</head>
<body>
	<nav>
		<ul>
			<li><a href=""></a>Home</li>
			<li><a href=""></a>Our Team</li>
			<li><a href=""></a>Portfolio</li>
			<li><a href=""></a>Blog</li>
			<li><a href=""></a>Contact</li>
		</ul>
	</nav>
	<%= yield %>
	<footer>
		<ul>
			<li>Facebook!</li>
			<li>Twitter!</li>
			<li>Linkedin</li>
		</ul>	
		<a href=""><p>Start a Project</p></a>
		<ul>
			<li>Name</li>
			<li>Address</li>
			<li>Number</li>
		</ul>	
		<p>Copyright Laj 2015</p>
	</footer>
</body>
 </html>