<section>
	<h1>Our Work</h1>
	<img src="proj1.jpg">
	<img src="proj2.jpg">
	<img src="proj3.jpg">
	<img src="proj4.jpg">
	<img src="proj5.jpg">
	<img src="proj6.jpg">
	<img src="proj7.jpg">
	<img src="proj8.jpg">
	<img src="proj9.jpg">
</section>	