<section>
	<h1>Our Work</h1>
	<img src="/images/proj1.jpg">
	<img src="/images/proj2.jpg">
	<img src="/images/proj3.jpg">
	<img src="/images/proj4.jpg">
	<img src="/images/proj5.jpg">
	<img src="/images/proj6.jpg">
	<img src="/images/proj7.jpg">
	<img src="/images/proj8.jpg">
	<img src="/images/proj9.jpg">
</section>	