
<div class="portfolio">
	<h1 class="our_work">Our Work</h1>
	<div class="portfolio_imgs">
		<div id="img1">
			<p id="hidden_text_1">Robinson and Williams</p>
		</div>
		<div id="img2">
			<p id="hidden_text_2">Two Guys Moving</p>
		</div>
		<div id="img3">
			<p id="hidden_text_3">WOW House Plans</p>
		</div>
		<div id="img4">
			<p id="hidden_text_4">Mosquito Mist Systems</p>
		</div>
		<div id="img5">
			<p id="hidden_text_5">Patricia Miramon</p>
		</div>
		<div id="img6">
			<p id="hidden_text_6">Rice&Kendig</p>
		</div>
		<div id="img7">
			<p id="hidden_text_7">Arthritis Clinic</p>
		</div>
		<div id="img8">
			<p id="hidden_text_8">Mason Salters</p>
		</div>
		<div id="img9">
			<p id="hidden_text_9">Sid Potts</p>
		</div>
	</div>
</div>	

<script>

$('#img1').hover(

  function() {
   	$('#hidden_text_1').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_1').fadeOut(100)
  }

 );


	$('#img2').hover(

  function() {
   	$('#hidden_text_2').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_2').fadeOut(100)
  }

  );

  $('#img3').hover(

  function() {
   	$('#hidden_text_3').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_3').fadeOut(100)
  }

  );

  $('#img4').hover(

  function() {
   	$('#hidden_text_4').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_4').fadeOut(100)
  }

 );

	$('#img5').hover(

  function() {
   	$('#hidden_text_5').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_5').fadeOut(100)
  }

 );

	$('#img6').hover(

  	function() {
   		$('#hidden_text_6').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_6').fadeOut(100)
  	}

	);   

	$('#img7').hover(

  	function() {
   		$('#hidden_text_7').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_7').fadeOut(100)
  	}

	); 

	$('#img8').hover(

  	function() {
   		$('#hidden_text_8').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_8').fadeOut(100)
  	}

	); 	

	$('#img9').hover(

  	function() {
   		$('#hidden_text_9').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_9').fadeOut(100)
  	}

	); 	

</script>

