<div class="portfolio">
	<h1 class="our_work">Our Work</h1>
	<div class="portfolio_imgs">
		<img src="/images/proj1.jpg" height="300px" width="300px" id="imgfad1">
		<img src="/images/proj2.jpg" height="300px" width="300px">
		<img src="/images/proj3.jpg" height="300px" width="300px">
		<img src="/images/proj4.jpg" height="300px" width="300px">
		<img src="/images/proj5.jpg" height="300px" width="300px">
		<img src="/images/proj6.jpg" height="300px" width="300px">
		<img src="/images/proj7.jpg" height="300px" width="300px">
		<img src="/images/proj8.jpg" height="300px" width="300px">
		<img src="/images/proj9.jpg" height="300px" width="300px">
	</div>
</div>	

<script>
$( "img" ).hover(
  function() {
    $( this ).append( $( "<span> ***</span>" ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
  }
);
 
$( "img.imgfad1" ).hover(function() {
  $( this ).fadeOut( 100 );
  $( this ).fadeIn( 500 );
});
</script>