<div class="portfolio">
	<h1 class="our_work">Our Work</h1>
	<div class="portfolio_imgs">
		<div id="img1">
			<p id="hidden_text_1">BANANA</p>
		</div>
		<div id="img2">
			<p id="hidden_text_2">BANANA</p>
		</div>
		<div id="img3">
			<p id="hidden_text_3">BANANA</p>
		</div>
		<div id="img4">
			<p id="hidden_text_4">BANANA</p>
		</div>
		<div id="img5">
			<p id="hidden_text_5">BANANA</p>
		</div>
		<div id="img6">
			<p id="hidden_text_6">BANANA</p>
		</div>
		<div id="img7">
			<p id="hidden_text_7">BANANA</p>
		</div>
		<div id="img8">
			<p id="hidden_text_8">BANANA</p>
		</div>
		<div id="img9">
			<p id="hidden_text_9">BANANA</p>
		</div>
	</div>
</div>	

<script>
<<<<<<< HEAD
$( "img" ).hover(
  function() {
    $( this ).append( $( "<span> ***</span>" ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
  }
);
 
$( "img.imgfad1" ).hover(function() {
  $( this ).fadeOut( 100 );
  $( this ).fadeIn( 500 );
});
</script>
=======

$('#img1').hover(

  function() {
   	$('#hidden_text_1').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_1').fadeOut(100)
  }

 );


	$('#img2').hover(

  function() {
   	$('#hidden_text_2').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_2').fadeOut(100)
  }

  );

  $('#img3').hover(

  function() {
   	$('#hidden_text_3').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_3').fadeOut(100)
  }

  );

  $('#img4').hover(

  function() {
   	$('#hidden_text_4').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_4').fadeOut(100)
  }

 );

	$('#img5').hover(

  function() {
   	$('#hidden_text_5').fadeIn(1000)        
  },

  function() {
    $('#hidden_text_5').fadeOut(100)
  }

 );

	$('#img6').hover(

  	function() {
   		$('#hidden_text_6').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_6').fadeOut(100)
  	}

	);   

	$('#img7').hover(

  	function() {
   		$('#hidden_text_7').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_7').fadeOut(100)
  	}

	); 

	$('#img8').hover(

  	function() {
   		$('#hidden_text_8').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_8').fadeOut(100)
  	}

	); 	

	$('#img6').hover(

  	function() {
   		$('#hidden_text_6').fadeIn(1000)        
  	},

  	function() {
    	$('#hidden_text_6').fadeOut(100)
  	}

	); 	
///add caption
///display none
//use toggle
</script>

<!-- fade img out
		replace img with text
		fade img in
 -->
>>>>>>> laura
